body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


a:link {
    color: red;
    background-color: yellow;
}

a:visited {
    color: green;
    background-color: cyan;
}

a:hover {
    color: hotpink;
    background-color: lightgreen;
}

a:active {
    color: blue;
    background-color: hotpink;
}


ul.a {
    list-style-type: circle;
}

ol.c {
    list-style-type: upper-roman;
}


body {
    background: lightyellow;
    font: 18px Arial, sans-serif;
}


h1 {
    color: orange;
    font-size: 2em;
    text-align: center;
}


p {
    color: black;
    font-size: 1.2em;
    margin: 10px 20px;
}
